/*
Author: JulietMind
Date 3/10/17
Version 0.0
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


/*CONTENT-LOGO*/
.content-logo{
	width: 100%;
	/*background: red;*/
}
/*////////////////////////////////////////////////*/

/*CONTENT-SESSION*/

.content-session{
	width: 100%;
	height: 50px;
}


.start{
	padding-top: 4%;
	text-align: center;
	width: 50%;
	float: right;
	border-top: 1px solid black;
}

.reg{
	height: 40px;
	padding-top: 4%;
	text-align: center;
	width: 50%;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.start a, .reg a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: 100;
}

/*/////////////////////////////////////////////////////*/


/*CONTENT-MENU*/

.content-menu{
	width: 100%;
	background: #121212;
}

.content-burguer{
	width: 20%;
	float: right;
}

.img-menu{
	padding: 10px;
	cursor: pointer;
}

.img-menu:hover{
	transform: translateY(3px);
	transition: all 300ms;
	background: rgba(0,0,0,0.1);
}

.content-profile{
	width: 20%;
	float: right;
	/*text-align: right;*/
}

.img-profile{
	padding: 10px;
	/*margin-right: 10px;*/
	cursor: pointer;
}

header nav ul{
	display: none;
	color: #fff;
	padding: 10px;
}

header nav ul li{
	border-bottom: 0.5px solid white;
	cursor: pointer;
}

header nav ul li a{
	/*color: white;*/
	text-decoration: none;
}

header nav ul.show{
	background: white;
	display: block;
}

/*Search-bar*/
.content-search{
	width: 30%;
	padding: 10px;
	margin-right: 75px;
	float: right;
}

.content-search input{
	margin-top: 1%;
	padding-left: 35px;
	box-sizing: border-box;
	border-style: none;
	border-radius: 4px;
	height: 35px;
	background-image: url('/PFG/img/search-img.png');
	background-repeat: no-repeat;
	background-position: 10px 10px;
    width: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.content-search input:focus{
	width: auto;
}